.Main {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  z-index: 0;
}

.Short-Main {
  background-color: lightgray;
  width: 82vw;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/

  font-size: calc(10px + 2vmin);
  margin-left: auto;
  z-index: 0;
}

.list {
  margin-left: -15vh;
  padding: 26px 0 26px 74px;
  list-style: none;
  background-image: url("https://raw.githubusercontent.com/PKief/vscode-markdown-checkbox/master/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  font-size: 15px;
  font-weight: bold;
}

.Main-Component {
  padding: 1rem;
}

.Main-Heading {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #440a67;
}

.y {
  display: none;
}

.flip-card {
  margin-top: 1rem;
  background-color: black;
  width: 100%;
  height: 90%;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #4a47a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transform: rotateY(180deg);
}

.welcome {
  font-size: 2rem;
}

.Button:hover {
  background: lightgreen;
}
